@import url(https://fonts.googleapis.com/css?family=Playball|Sigmar+One);
body {
    background-image: url(../images/kremlin.jpg);
    background-position: center top;
}

h1 {
    font-family:'Sigmar One', Cursive;
    text-align: center;
    font-size: 1.8em;
}

.subTitle {
    font-family: 'Playball', cursive;
    font-size: 2em;
    text-align: center;
    color: crimson;
    text-shadow: 1px 1px #ffffff;
    margin-top: 10px;
}


.img-responsive {
    height: 200px;
}

ul {
    list-style: none;
    margin-bottom: 10px;
}
li {
    font-family: "Arial", sans-serif;
    font-size: 2em;
}
input[type=radio] {
    border: 0px;
    width: 20px;
    height: 1em;
    padding-right: 10px;
}

 .quizContainer {
    background: rgba(224, 224, 209, .8);
    border-radius: 6px;
    width: 75%;
    margin: 20px auto;
    padding: 20px;
    -moz-box-shadow: 5px 5px 2px #888;
    -webkit-box-shadow: 5px 5px 2px #888;
    box-shadow: 5px 5px 2px #888;
    position: relative;
}
.nextButton {
    box-shadow: 3px 3px 5px #888;
    border-radius: 6px;
    width: 150px;
    height: 40px;
    text-align: center;
    background-color: crimson;
    /*clear: both;*/
    color: gold;
    font-family:'Sigmar One', Cursive;
    position: relative;
    margin: 15px auto 0 auto;
    padding-top: 10px;
}

.question {
    font-family:'Sigmar One', Cursive;
    font-size: 1.8em;
    width: 90%;
    height: auto;
    margin: 20px auto 0 auto;
    border-radius: 6px;
    /*background-color: lightgrey;*/
    text-align: center;
}

.timer {
    font-family:'Sigmar One', Cursive;
    font-size: 1.8em;
    text-align: center;
}

.quizMessage {
    background-color: white;
    border-radius: 6px;
    width: 30%;
    margin: auto;
    text-align: center;
    padding: 2px;
    font-family:'Playball', Cursive;
    font-size: 1.5em;
    color: crimson;
}

.choiceList {
    font-family: Courier, serif;
    color: crimson;
}

.result {
    width: 30%;
    height: auto;
    border-radius: 6px;
    background-color: gold;
    color: crimson;
    margin: auto;
    text-align: center;
    font-family: "Arial", sans-serif;
}